#block-linker-linker #autocomplete span.draft:before{
  content:'DRAFT ';
  color:red;
  position:relative;
  top:-5px;
  font-size:9px;
  font-family:"Helvetica";
}

#block-linker-linker #autocomplete span.draft{
  background-color:rgba(127,0,0,0.1);
}

#block-linker-linker #autocomplete span {
  margin: 0px;
  display: block;
  padding: 8px 5px;
  font-size:12px;
}

#block-linker-linker .no-result-label span {
  font-size: 14px;
  font-weight: bold;
}

#block-linker-linker .node-unpublished {
  margin: 0px !important;
  padding: 0px 10px;
}

#block-linker-linker #node-preview{
  margin:10px 0 !important;
  border:1px solid gray;
  padding: 10px;
}

#block-linker-linker td.button-wrap {
  width: 170px;
  text-align:right;
}

#block-linker-linker td.button-wrap .btn {
  width: 170px;
}

#node-form-holder {
  display:none;;
  position: fixed;
  top: 25vh;
  background: white;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 0 20px gray;
  border-radius: 10px;
}

#node-form-holder .inside{
  overflow-y: scroll;
  height: 50vh;
}
