// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.group-buttons,
.group-shortcut-buttons
{
  a {
   /* @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border); */
   color: #fff;
  }
}

.row1 .group-buttons, 
.row1 .group-shortcut-buttons
{
  @include respond-to(small) {
    @include rem(margin, 0 0 20px 0);
    float: left; 
  }
} 

.group-buttons > div {
  float: left;
  clear: right;
  @include rem(margin, 0 0 5px 0);
  a {
    @include rem(margin, 0 5px 0 0);
  }
}

/************************/
/* TAB/PILL NAVIGATION */
/**********************/

.row2 {

  ul.nav-pills {
    /* background: $lighter-grey; */
    font-family: $header-font-stack;
    text-transform: uppercase;
    margin-top: -30px;
    @include respond-to(small) {
      @include rem(margin, -10px 0 0 0);
    }
  }

  .nav-pills>li>a {
    border-radius: 0;
    color: $text-color;
    @include on-event {
  	  background: none;
  	  background-color: transparent;
    }
  }

  .nav-pills>li.active>a, 
  .nav-pills>li.active>a:hover, 
  .nav-pills>li.active>a:focus {
    color: $text-color;
    background: none;
  }

  .nav-pills>li>a.active {
    background: none;
    border-bottom: 5px solid $user-color;
    @include respond-to(small) {
      background: $light-grey;
      border-bottom: none;
      font-weight: bold;
    }
  }
}

@include respond-to(small) {
  .nav-pills>li {
    float: left;
    width: 100%;
    font-family: $text-font-stack;
    text-transform: lowercase;
    border-bottom: 1px solid darken($light-grey, 10%);
    @include on-event {
      background: $light-grey;
    }
    a {
      @include on-event {
        color: #333;
      }
    }  
  }
}


/*********/
/* TABS */
/*******/

.nav-tabs>li>a.active {
  color: $text-color;
}

