// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -250px; /* the bottom margin is the negative value of the footer's height */
  @include respond-to(small) {
     margin: 0 auto -600px; /* the bottom margin is the negative value of the footer's height */
  }
}

.footer.container-fullwidth, .push {
  height: 250px;
  @include respond-to(small) {
     height: 600px;
  }
}


.container-fullwidth.footer {
  background: $dark-grey;
  @include rem(padding, 40px 0 40px 0);
}

.footer {
  a {
    color: $mid-grey;
    @include on-event {
      color: $mid-grey;
    }
  }
  margin: 0 0 0 0;
  .region-footer {
    @include make-row();
  }  
  .footer-block {
    @extend .col-sm-4;
    @include respond-to(small) {
      @include rem(margin, 0 0 30px 0);
    }
  }
  .footer-wrapper.container {
    padding: 0 15px 0 15px;
  }
  h2 {
    color: #fff;
  }
  ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
  }
  li.views-row {
    a {
      display: block;
      @include rem(padding, 5px 10px 5px 10px);
      @include rem(border-bottom, 1px solid lighten($dark-grey, 10%));
      color: $midmid-grey;
      @include on-event {
        text-decoration: none;
        background: lighten($dark-grey, 15%);
      }
    }
    a.active {
      background: lighten($dark-grey, 15%);
      color: #fff;
    }
  }
  li.views-row-last {
    a {
      border-bottom: none;
    }
  }
}

.powered {
  @include rem(padding, 5px 5px 5px 5px);
}

ul.social-icons{
  list-style: none;
  @include rem(border-bottom, 1px solid lighten($dark-grey, 10%));  
  @include rem(padding, 5px 5px 5px 5px);
  span{
    display: none;
  }
  li{
    display: inline;
   
  	a{
  	  @include rem(margin, 0 0 0 0);
  	} 
  }

  .twitter a:before {
  	@include fa(twitter);
  }
  .facebook a:before {
    @include fa(facebook);
  }
  .contact a:before {
   @include fa(envelope);
  }
}



