// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


/*****************************************/
/* pre-wrapper with login collapse part */
/***************************************/


.wrapper-pre-header {
  color: $midmid-grey;
  a.btn, .container a {
    color: $light-grey;
  }
  nav {
    text-align: right;
  }
  .container-inner {
    @include rem(padding, 20px);
    border: 1px solid lighten(#000000, 20%);
    background: lighten(#000000, 15%);
    box-shadow: 5px 5px 1px lighten(#000000, 10%);; 
  }
  .login {
    @include respond-to(small) {
      @include rem(margin-bottom, 20px);
    }
  }
  .btn {
    @include respond-to(small) {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
  }
  .user-name {
    @include rem(margin-left, 10px);
  }
}

/* icon for btn-login */
 
.btn-login .title:before {
  @include fa(user);
}

/* 'btn-login' when user is logged-in */

.logged-in .wrapper-pre-header .btn-login {
  background: none;
  border: none;
  padding: 0;
  @include on-event {
    background: none;
    border: none;
  }
  .title:before {
    content: "";
  }
}

.field-wrapper {
  position: relative;
}

.field-wrapper:before {
  position: absolute;
  top: 10px;
  left:10px;
}

/* padding for username & password field */

.form-item-name .form-control,
.form-type-password .form-control
{
  width: 100%;
  @include rem(padding-left, 30px);
}

/* icon for username & password fied */

.field-wrapper.name:before {
  @include fa(user);
}

.field-wrapper.pass:before {
  @include fa(lock);
}

/* wrapper to give padding */

.containment {
  @include rem(padding-top, 20px);
  @include rem(padding-bottom, 20px);
  width: 100%;
  float: left;
}



.collapsed-user-block {
  h2 {
    color: $light-grey;
  }
  input {
    background: $light-grey;
  }
  @include rem(padding, 20px 0 20px 0);
  @include respond-to(small) {
    .btn-login {
      width: inherit;
      width: auto;
    }
  }
}

.tooltip .tooltip-inner {
  @include rem(font-size, 14px);
  @extend .alert-success;
}

/* menu */

.collapsed-user-block.in {
  /* text-align: right; */
}

.user-menu {
  text-align: right;
  li {
    list-style: none;
  }
}

/*******************************/
/* General navigation theming */
/*****************************/

.navbar-default {
  border: none;
}

.navbar > .container {
  position: relative;
  @include respond-to(small) {
    min-height: inherit;
    padding-bottom: 0;
  }
}

.navbar-header {
  width: 20%;
  float: left;
  align-self: center;
  @include respond-to(small) {
    width: 100%;
  }
}

@include respond-to(small) {
  .container>.navbar-header {
    @include rem(padding, 0 0 15px 0); 
    @include rem(margin, 0 0 0 0);
  }

  /* toggle button for responsive menu */
  .navbar-toggle {
    @include rem(margin, 15px 0 0 0);
  }

  /* nav menu for small devices */

  ul.navbar-nav {
    float: left;
    font-family: $text-font-stack;
    font-weight: normal;
    width: 100%;
    text-transform: lowercase;
    @include rem(margin, 0 0 20px 0);
    li.leaf {
      @include rem(padding, 10px 10px 10px 10px);
      border-bottom: 1px solid darken($light-grey, 10%);
      width: 100%;
      @include on-event {
        background: $light-grey;
      }
      a.active-trail {
        background: none;
        border: none;
        color: inherit;
      }
    }
    li.last {
      border-bottom: none;
    }
    li.active-trail {
      background: $light-grey;
      font-weight: bold;
    }
  }

  /* responsive menu for page user & groups */

  .page-user:not(.page-user-edit) .container-fullwidth.row2, 
  .node-type-futurium-group .container-fullwidth.row2 {
    background: none;
  }
}

.navbar {
  margin-bottom: 0;
  .navbar-collapse {
    float: right;
    width: 80%;
    align-self: flex-end;
    @include rem(margin, 20px 0 0 0);
    @include rem(padding, 0 0 0 15px);
    @include respond-to(small) {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      float: left;
    }
  }

  .navbar-nav li>a {
    font-family: $header-font-stack;
    text-transform: uppercase;
    @include rem(font-size, 18px);
    @include rem(line-height, 50px);
    @include rem(padding, 0px 20px 0px 20px);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &:before {
      width: 30px;
    }
    @include respond-to(small) {
      @include rem(line-height, 24px); 
      @include rem(padding, 0);
      font-family: $text-font-stack;
      text-transform: inherit;
    }
  }
  .glyphicon-user:before {
    content: none;
  }
  li.futures {
    @include menu($future-color, rocket);
  }
  li.ideas {
    @include menu($idea-color, lightbulb-o);
  }
  li.library {
    @include menu($library-color, file-text-o);
  }
  li.events {
    @include menu($event-color, calendar);
  }
  li.login {
    @include menu(darken($user-color, 20%), user);
  }
  li.stats {
    @include menu($mid-grey, pie-chart);
  }
  li.my-account {
    margin-top: -5px;
  }
}

.logged-in.page-node, 
.incoming-messages {
  li.futures {
    @include menu(darken($future-color, 20%), rocket);
  }
  li.ideas {
    @include menu(darken($idea-color, 20%), lightbulb-o);
  }
  li.library {
    @include menu(darken($library-color, 20%), file-text-o);
  }
  li.events {
    @include menu(darken($event-color, 20%), calendar);
  }
  li.login {
    @include menu(darken($user-color, 20%), user);
  }
  li.stats {
    @include menu(darken($event-color, 20%), pie-chart);
  }
}

.logged-in-user-pic {
  @include round-userpicture;
}

/*************************/
/* Alignment navigation */
/***********************/

.navbar-nav {
  margin-bottom: -3px;
  z-index: 100;
  position: relative;
  float: right;
}

/******* */
/* LOGO */
/***** */

.navbar .logo {
  margin-left: 0;
  @include respond-to(small) {
      width: 50%;
  }
}

.navbar-brand {
  @include rem(font-size, 24px);
  font-family: $header-font-stack;
  text-transform: uppercase;

}

.logo {
  @include rem(margin, 15px 0 15px 0);
}

/*********************************/
/* Brand theming (name website) */
/*******************************/

.navbar .wrapper-header .navbar-brand{
  @include rem(margin, 0 0 0 0);
  @include rem(font-size, 24px);
  padding: 0;
  height: auto;
  line-height: inherit;
  @include respond-to(small) {
    @include rem(margin-top, 20px);
  }
}

/****************************/
/* My account hack in menu */
/**************************/

.no-text {
 font-size:0 !important;
}

.no-text:before {
 font-size:16px;
}




