.flavour-digital4science .btn-default {
  border-color: #93caed;
  color: #333;
  background: rgb(235, 235, 235);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(230, 230, 230, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
}

.flavour-digital4science .btn:hover,
.flavour-digital4science .btn:focus,
.flavour-digital4science .btn:active,
.flavour-digital4science .btn.btn-primary:hover,
.flavour-digital4science .btn.btn-primary:focus,
.flavour-digital4science .btn.btn-primary:active {
  border-color: #285d93;
}

.flavour-digital4science #search-block-form .form-item input {
  border-color: #93caed;
}

/* identity block right */

.flavour-digital4science .identityBlock {
  margin-bottom: 15px;
  margin-top: -20px;
  background: #e7faff url(../images/theme/d4science/baseline_theme.png) 50% 0 no-repeat;
  padding: 42px 10px 0px;
  border: solid 1px #c1deef;
  border-top: 0;
}

.front.flavour-digital4science .identityBlock {
  margin-top: -15px;
}

.flavour-digital4science .identityBlock > *:first-child {
  margin-top: 18px;
}

.flavour-digital4science .identityBlock:before,
.flavour-digital4science .identityBlock:after {
  content: " ";
  background: url(../images/theme/d4science/corners.png) no-repeat;
  width: 10px;
  height: 5px;
  position: absolute;
  top: 0px;
}

.flavour-digital4science .identityBlock:after {
  right: -5px;
  background-position: 0px -5px;
}

.flavour-digital4science .identityBlock:before {
  left: -5px;
  background-position: 0 -5px;
}

.flavour-digital4science .identityBlock .CTAButton {
  background: #fff;
  border: 3px solid #5aafe3;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  color: #285d93;
  display: block;
  font-size: 100%;
  margin: 0px auto 15px;
  overflow: hidden;
}

.flavour-digital4science .identityBlock .CTAButton span:nth-child(1) {
  background: #285d93;
  font-size: 160%;
  padding: 10px 5px 5px;
  display: block;
  color: #fff;
}

.flavour-digital4science .identityBlock .CTAButton span:nth-child(2) {
  padding: 0px 5px 5px;
  display: block;
}

/* /identity block right */

.flavour-digital4science .view-recent-activity .panel-heading,
.flavour-digital4science .homepageContainer #block-views-recent-activity-block-whatnew .panel-heading {
  color: #555555;
}

.flavour-digital4science .homepageContainer .CTAButton {
  background: #fff;
  max-width: 230px;
}

.flavour-digital4science .homepageContainer .CTAButton span:nth-child(1) {
  background: #285d93;
  color: #fff;
}

.flavour-digital4science .flavor-tree *,
.flavour-digital4science .view-recent-activity .item-list li .node-event-d4eu .field-name-field-date-time a:first-child,
.flavour-digital4science .homepageContainer .CTAButton,
.flavour-digital4science .mainContentSection h1#page-title,
.flavour-digital4science section h2,
.flavour-digital4science section h5,
.flavour-digital4science section h6 {
  color: #285d93;
}

.flavour-digital4science .identityContainer,
.flavour-digital4science .homepage-sidebar {
  border-color: #285d93;
}

.flavour-digital4science #comments,
.flavour-digital4science #comment-form-container,
.flavour-digital4science .mainContentSection h1#page-title,
.flavour-digital4science .view-recent-activity .item-list li .node-event-d4eu .field-name-field-date-time a:first-child {
  border-color: #93caed;
}

.flavour-digital4science .views-blog_d4eu-block_1 .panel-heading {
  border-color: #dcdcdc;
}

.flavour-digital4science .homepageContainer .CTAButton {
  border-color: #5aafe3;
}

.flavour-digital4science .flavor-tree .flavor-name,
.flavour-digital4science .view-recent-activity .panel-heading,
.flavour-digital4science .homepageContainer #block-views-recent-activity-block-whatnew .panel-heading,
.flavour-digital4science .item-list > ul > li .views-field-title + div,
.flavour-digital4science section h2,
.flavour-digital4science .view-blog .media-body h3 + div,
.flavour-digital4science section .search-result .search-snippet-info {
  border-color: #afdffd;
}

.flavour-digital4science .flavor-tree .flavor-name:before {
  background-image: url(../images/theme/d4science/stamp50x50.png);
}

.flavour-digital4science .flavor-tree .supertag-tree a {
  color: #285d93;
}

.flavour-digital4science .flavor-tree .supertag-tree ul.tree-root li.selected-tree-item > a {
  color: #333;
}

.flavour-digital4science .poll .bar .foreground {
  background: rgb(40, 93, 147);
  background: -moz-linear-gradient(left, rgba(90, 175, 227, 1) 0%, rgba(40, 93, 147, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(90, 175, 227, 1)), color-stop(100%, rgba(40, 93, 147, 1)));
  background: -webkit-linear-gradient(left, rgba(90, 175, 227, 1) 0%, rgba(40, 93, 147, 1) 100%);
  background: -o-linear-gradient(left, rgba(90, 175, 227, 1) 0%, rgba(40, 93, 147, 1) 100%);
  background: -ms-linear-gradient(left, rgba(90, 175, 227, 1) 0%, rgba(40, 93, 147, 1) 100%);
  background: linear-gradient(to right, rgba(90, 175, 227, 1) 0%, rgba(40, 93, 147, 1) 100%);
}

.flavour-digital4science .invite-invite_add_invite_by_email {
  border-color: #285d93;
}

.flavour-digital4science .invite-invite_add_invite_by_email .panel-heading {
  background: #285d93;
  color: #fff;
}

.flavour-digital4science .view-recent-activity .item-list li .node-event-d4eu .field-name-field-date-time a:first-child {
  background: #e0f5fa;
  background: -moz-linear-gradient(top, #f5fbff 0%, #e0f5fa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5fbff), color-stop(100%, #e0f5fa));
  background: -webkit-linear-gradient(top, #f5fbff 0%, #e0f5fa 100%);
  background: -o-linear-gradient(top, #f5fbff 0%, #e0f5fa 100%);
  background: -ms-linear-gradient(top, #f5fbff 0%, #e0f5fa 100%);
  background: linear-gradient(to bottom, #f5fbff 0%, #e0f5fa 100%);
}

.flavour-digital4science .homepageContainer .block-bean-highlight {
  background: #c0eefd;
  background: -moz-linear-gradient(top, #f5fbff 0%, #c0eefd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5fbff), color-stop(100%, #c0eefd));
  background: -webkit-linear-gradient(top, #f5fbff 0%, #c0eefd 100%);
  background: -o-linear-gradient(top, #f5fbff 0%, #c0eefd 100%);
  background: -ms-linear-gradient(top, #f5fbff 0%, #c0eefd 100%);
  background: linear-gradient(to bottom, #f5fbff 0%, #c0eefd 100%);
}

.flavour-digital4science .js-contentFilter .exposed_form_inner_container,
.flavour-digital4science #sidebarRight .exposed_form_inner_container {
  background-color: #e8f7ff;
}

@media (max-width: 499px) {
  .flavour-digital4science #sidebarRight .identityBlock {
    background-image: none;
    padding-top: 1px;
    border-top: solid 4px #285d93;
    margin-top: 0px;
  }

  .flavour-digital4science .identityContainer {
    padding-top: 42px;
    position: relative;
  }

  .flavour-digital4science .identityContainer:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 44px;
    background: url(../images/theme/d4science/baseline_theme.png) 50% 0 repeat-x;
    content: " ";
  }
  .flavour-digital4science #sidebarRight {
    background: #c1deef;
  }
}
