/**
 * Basic typography style for copy text
 */

html{
  @include rem-baseline;
}

body {
  color: $text-color;
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  font-family:$text-font-stack;
  font-weight: normal;
}


